@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-31 11:59:14
 * @version $Id$
 */
/* 如何不让外边距合并
.box{
	width: 300px;
	height: 40px;
	background: lightgray;
	margin: 10px;
}
.box1{
	width: 300px;
	height: 1px;
	background: gray;
	margin: 10px;
}*/

/*行内显示多个元素
.inlin{
	width: 630px;
	height: 210px;
	border: 1px solid gray;
}
.inline1{
	float: left;
	width: 200px;
	height: 200px;
	margin:5px;
	background: lightgray;
}*/

/*块状元素水平垂直居中
.center{
	width: 630px;
	height: 230px;
	border: 1px solid gray;
}
.center1{
	width: 100px;
	height: 100px;
	margin: 65px auto;
	background: lightgray;
}*/

/*jQuery的简单使用 8.1练习
.btn{
	text-align: center;
	width: 100px;
	height: 30px;
	background: gray;
	animation: 1000;
}
.btn:hover{
	background: orange;
}
.box1{
	float: left;
	width: 100px;
	height: 100px;
	background: pink;
	margin: 10px;
}
.box2{
	float: left;
	width: 100px;
	height: 100px;
	background: pink;
	margin: 10px;
	text-align: center;
}
.box3{
	float: left;
	width: 100px;
	height: 100px;
	background: pink;
	margin: 10px;
}
.box4{
	float: left;
	width: 100px;
	height: 100px;
	background: pink;
	margin: 10px;
}*/